.cart-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 100px auto;
  padding: 50px;
  background: #fff;
}

@media (max-width: 500px) {
  .cart-page {
    background: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart-page .cart-list {
  width: 100%;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.cart-page .cart-list .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 50px 0;
}

@media (max-width: 500px) {
  .cart-page .cart-list .row-2 {
    display: none;
  }
}

.cart-page .cart-list .row-2 h4 {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cart-page .cart-list .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 100px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 500px) {
  .cart-page .cart-list .row {
    position: relative;
    padding: 50px 0;
    background: #fff;
    margin: 0 0 50px 0;
  }
}

.cart-page .cart-list .row .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cart-page .cart-list .row .img img {
  width: 100%;
}

.cart-page .cart-list .row .MuiFormControl-root {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 500px) {
  .cart-page .cart-list .row .MuiFormControl-root {
    max-width: 100px;
    margin: 20px auto;
  }
}

.cart-page .cart-list .row h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  max-width: 160px;
}

.cart-page .cart-list .row h5 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: normal;
}

.cart-page .cart-list .row h6 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: normal;
}

@media (max-width: 500px) {
  .cart-page .cart-list .row h6 {
    display: none;
  }
}

.cart-page .cart-list .row svg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
}

@media (max-width: 500px) {
  .cart-page .cart-list .row svg {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.cart-page .cart-list .row .right {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 500px) {
  .cart-page .cart-list .row .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.cart-page hr {
  margin: 150px 50px 50px 50px;
}

@media (max-width: 814px) {
  .cart-page hr {
    display: none;
  }
}

.cart-page a {
  display: none;
}

@media (max-width: 500px) {
  .cart-page a {
    display: block;
    text-align: center;
    min-width: 250px;
    margin: 0 auto;
    border-radius: 0px 2px 2px 0px;
    padding: 15px 0;
    color: #fff;
    background: #36E3D9;
    margin: 50px 0 0 0;
  }
}

.cart-page .check-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 150px 0 0 0;
}

@media (max-width: 814px) {
  .cart-page .check-out {
    display: none;
  }
}

.cart-page .check-out input {
  background: #ffffff;
  border: 1px solid #e4e5ec;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 15px;
  width: 100%;
  margin: 0 0 30px 0;
}

.cart-page .check-out input[type="submit"] {
  background: #36e3d9;
  color: #fff;
}

.cart-page .check-out h1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  padding: 0 0 20px 0;
}

.cart-page .check-out h2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #7f829a;
  padding: 0 0 5px 0;
}

.cart-page .check-out .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-page .check-out .row .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cart-page .check-out .row .box:nth-child(1) {
  margin: 0 15px 0 0;
}

.message {
  padding: 200px 100px;
  text-align: center;
}

.message img {
  display: block;
  max-width: 120px;
  margin: 0 auto;
}

.message h1 {
  padding: 40px 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #464855;
}

.message h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #898ea2;
}
/*# sourceMappingURL=Cart.css.map */