/* Imports */
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
/* Variables */
/* Mixins */
/* animaqtion delays */
.delay-1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.delay-2 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.delay-3 {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

/* General */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #f9f9f9;
}

body input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
}

body input:focus {
  outline-width: 0;
}

body button {
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a:hover {
  color: #36e3d9;
}

li {
  list-style: none;
}

.phone {
  display: none;
}

@media (max-width: 500px) {
  .phone {
    display: block;
  }
}

.tablet {
  display: none !important;
}

@media (max-width: 814px) {
  .tablet {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 814px) {
  .hide {
    display: none !important;
  }
}

.white-back {
  background: #fff;
}

/* Home Screen */
nav .up {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

@media (max-width: 814px) {
  nav .up {
    display: none;
  }
}

nav .up .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .up .left h5 {
  padding: 0 10px;
}

nav .up .left span {
  color: #36e3d9;
}

nav .up .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .up .right h5 {
  padding: 0 20px;
  font-weight: 500;
  font-size: 14px;
}

nav .middle {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .middle .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Righteous", cursive;
  font-size: 27px;
  letter-spacing: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #6b6f81;
}

@media (max-width: 814px) {
  nav .middle .logo {
    font-size: 19px;
  }
}

nav .middle .search {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 2px 0px 0px 2px;
}

nav .middle .search input[type="text"] {
  max-width: 380px;
  width: 100%;
  padding: 14px 50px;
  margin: 0 -1px 0 0;
  border: 1px solid #e4e5ec;
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-position: 15px;
}

nav .middle .search input[type="submit"] {
  padding: 15px 30px;
  border: 0;
  font-weight: 500;
  background: #36e3d9;
  color: white;
  cursor: pointer;
}

nav .middle .cart {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 15px 30px;
  border: 1px solid #36e3d9;
  color: #36e3d9;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .middle .cart a {
  color: #36e3d9;
}

nav .middle .cart:hover {
  color: #fff !important;
  background: #36e3d9;
}

nav .middle .cart:hover h4 {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #fff;
}

nav .middle img {
  width: 20px;
  height: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .middle .side-nav {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 1;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .middle .side-nav .btn-close {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-right: 50px;
  cursor: pointer;
}

nav .middle .side-nav a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px 10px 10px 30px;
  font-size: 22px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
}

nav .middle .hamburger {
  display: none;
}

@media (max-width: 814px) {
  nav .middle .hamburger {
    display: block;
    cursor: pointer;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 5px 15px 0 0;
  }
}

nav .search-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 2px 0px 0px 2px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 25px 25px 25px;
}

nav .search-2 input[type="text"] {
  max-width: 380px;
  width: 100%;
  padding: 14px 50px;
  margin: 0 -1px 0 0;
  border: 1px solid #e4e5ec;
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-position: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .search-2 input[type="submit"] {
  padding: 15px 30px;
  border: 0;
  font-weight: 500;
  background: #36e3d9;
  color: white;
  cursor: pointer;
}

nav .search-2 input:focus {
  outline-width: 0;
}

nav .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .down li {
  padding: 25px 50px;
}

.hero-section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

.hero-section .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 814px) {
  .hero-section .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero-section .row .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-section .row .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  position: relative;
  color: #fff;
  padding: 25px;
}

.hero-section .row .card a:hover {
  color: #fff;
  background: #36e3d9;
}

.hero-section .row .card img {
  width: 100%;
}

.hero-section .row .card .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-section .row .card a {
  padding: 15px 25px;
  border: 1px solid #36e3d9;
  color: #36e3d9;
}

@media (max-width: 814px) {
  .hero-section .row .card a {
    padding: 15px;
  }
}

@media (max-width: 500px) {
  .hero-section .row .card a {
    font-size: 11px;
    padding: 10px 5px;
  }
}

.hero-section .row .card-1 h6 {
  font-weight: bold;
  font-size: 16px;
}

.hero-section .row .card-1 h2 {
  font-weight: 600;
  font-size: 64px;
  margin: 0 0 40px 0;
}

@media (max-width: 500px) {
  .hero-section .row .card-1 h2 {
    font-size: 36px;
  }
}

.hero-section .row .card-2 h2 {
  font-weight: 300;
  font-size: 36px;
  margin: 0 0 40px 0;
}

@media (max-width: 500px) {
  .hero-section .row .card-2 h2 {
    font-weight: 500;
    font-size: 18px;
  }
}

.hero-section .row .card-3 h2 {
  font-weight: 300;
  font-size: 36px;
  margin: 0 0 40px 0;
}

@media (max-width: 500px) {
  .hero-section .row .card-3 h2 {
    font-weight: 500;
    font-size: 18px;
  }
}

.hero-section .row .card-4 h2 {
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
  line-height: 40px;
  border-radius: 6px;
  background: url(../img/placeholder.svg) no-repeat;
  padding: 60px 20px;
  background-size: cover;
}

@media (max-width: 1000px) {
  .hero-section .row .card-4 h2 {
    padding: 20px;
  }
}

@media (max-width: 814px) {
  .hero-section .row .card-4 h2 {
    font-weight: bold;
    font-size: 25px;
    padding: 160px 100px;
  }
}

@media (max-width: 500px) {
  .hero-section .row .card-4 h2 {
    font-size: 18px;
    padding: 20% 10%;
  }
}

.section-2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 25px;
}

.section-2 .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 40px 0;
}

.section-2 .bar a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-2 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
}

.section-2 .row a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-2 .row .box {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #edeef4;
  padding: 20px;
  background: #fff;
  min-height: 210px;
}

@media (max-width: 500px) {
  .section-2 .row .box {
    min-height: 320px;
  }
}

.section-2 .row .box .left {
  max-width: 125px;
  margin: 20px;
}

.section-2 .row .box .left img {
  width: 100%;
}

.section-2 .row .box .middle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 240px;
}

.section-2 .row .box .middle h3 {
  font-weight: normal;
  font-size: 16px;
  color: #464855;
}

@media (max-width: 500px) {
  .section-2 .row .box .middle h3 {
    font-size: 12px;
  }
}

.section-2 .row .box .middle h4 {
  color: #36e3d9;
  font-weight: normal;
  font-size: 16px;
}

.section-2 .row .box .middle h6 {
  font-weight: normal;
  font-size: 12px;
  color: #aeb2c1;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin: 10px 0 0 0;
}

.section-2 .row .box .middle .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-2 .row .box .middle .color div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px 5px 20px 0;
}

.section-2 .row .box .middle .color h5 {
  color: #aeb2c1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-2 .row .box .middle .color-1 div {
  background: #1f4784;
}

.section-2 .row .box .middle .color-2 div {
  background: #2d3043;
}

.section-2 .row .box .middle .color-4 div {
  background: #f50138;
}

.section-2 .row .box .middle .color-5 div {
  background: #000;
}

.section-2 .row .box .right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 0 auto;
  color: #fff;
}

.section-2 .row .box .right h4 {
  padding: 15px 10px;
  background-color: #c0c4d1;
  border-radius: 6px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

@media (max-width: 500px) {
  .section-2 .row .box .right {
    display: none;
  }
}

.section-2 .row .box .blue h4 {
  background-color: #36e3d9;
}

.section-2 .row .box .yellow h4 {
  background: #ffbf71;
}

@media (max-width: 814px) {
  .section-2 .row .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-3 {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 100px 0;
  background: #fff;
}

.section-3 h1 {
  font-weight: normal;
  font-size: 26px;
  color: #464855;
}

.section-3 .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 50px;
}

.section-3 .boxes .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 30px;
}

@media (max-width: 500px) {
  .section-3 .boxes .box {
    padding: 50px 0;
  }
}

.section-3 .boxes .box h2 {
  font-weight: normal;
  font-size: 18px;
  color: #464855;
  padding: 17px 0 10px 0;
}

.section-3 .boxes .box h3 {
  font-weight: normal;
  font-size: 16px;
  color: #898ea2;
}

@media (max-width: 500px) {
  .section-3 .boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer {
  background: #353745;
}

.footer footer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #a5a8bb;
}

.footer footer a {
  color: #7f829a;
}

.footer footer h1 {
  color: #fff;
}

.footer footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

@media (max-width: 814px) {
  .footer footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0 0 0;
  }
}

.footer footer .row .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer footer .row .col h4 {
  margin: 0 0 20px 0;
}

@media (max-width: 814px) {
  .footer footer .row .col h4 {
    margin: 20px 0;
  }
}

.footer footer .row .col li {
  margin: 0 0 10px 0;
  color: #7f829a;
  line-height: 34px;
}

.footer footer .row .col .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer footer .row .col .links .link {
  padding: 15px 20px;
  margin: 20px 20px 0 0;
  background: #3a3c4c;
}

@media (max-width: 500px) {
  .footer footer .row .col .links .link {
    margin: 20px 10px 0 0;
  }
}

.footer footer .row .col input {
  padding: 15px 20px;
  height: 50px;
  background: url(../img/Arrow.png) no-repeat white 270px;
  border: 0;
  min-width: 300px;
}

@media (max-width: 500px) {
  .footer footer .row .col input {
    width: inherit;
    min-width: 220px;
    background-position: 195px;
  }
}

@media (max-width: 814px) {
  .footer footer .row-2 {
    padding: 0 0 100px 0;
  }
}

.footer footer .row-2 .col {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}
/*# sourceMappingURL=home.css.map */