$main-color: #36e3d9;

.form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;

  h1 {
    font-family: Righteous;
    padding: 0 0 30px 0;
    font-size: 35px;
    line-height: 43px;
    letter-spacing: 5px;
    color: #6b6f81;
    text-align: center;
  }

  form {
    padding: 50px 75px;
    background: #fff;
    display: flex;
    flex-direction: column;

    h3 {
      padding: 0 0 30px 0;
      color: #464855;
      font-weight: 500;
      font-size: 20px;
    }

    .row {
      display: flex;
      flex-direction: column;
      padding: 0 0 20px 0;

      h4 {
        color: #6b6f81;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }

      input {
        margin: 5px 0 0 0;
        padding: 15px;
        border: 1px solid #e4e5ec;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
        border-radius: 2px;
      }
    }

    h5 {
      margin: 30px 0 0 0;
      color: #999999;
      font-weight: normal;
      font-size: 11px;
    }

    input[type="submit"] {
      color: #ffffff;
      background: #36e3d9;
      border-radius: 2px;
      padding: 15px 0;
      margin: 20px 0;
      border: 0;
    }

    .or {
      display: flex;
      flex-direction: row;
      margin: 1.2rem 0;
      align-items: center;
      max-width: 450px;

      .bar {
        flex: auto;
        border: none;
        height: 1px;
        background: #aaa;
      }

      span {
        color: #ccc;
        padding: 0 0.8rem;
      }
    }

    h6 {
      text-align: center;
      color: #999999;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;

      a {
        color: $main-color;
      }
    }
  }

  .terms {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 30px auto;

    h6 {
      color: #464855;
    }
  }

  h6 {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    color: #898ea2;
  }
}
